.my_el {
	height: 300px;
	width: 500px;
	background-color: aqua;

}

.white {
	height: 100px;
	width: 20px;
	background-color: rgb(252, 253, 253);
	border: 2px solid;
	border-color: black;
	z-index: 0;

	transition: background-color 0.5s ease-in-out;

}


.white:hover {
	background-color: rgb(134, 2, 2);
}



.black {
	margin-left: -8px;
	margin-right: -8px;
	height: 50px;
	width: 10px;
	background-color: rgb(0, 0, 0);
	border: solid;
	border-color: black;
	z-index: 1;
}


.octave {
	display: flex;
	flex-direction: row;
}

.piano {
	display: flex;
	flex-direction: row;
}





.navbar {
	padding-left: 0px;
	padding-right: 0px;
	background: rgb(236, 238, 238);
	height: 130px;
}

.navdiv {
	height: 130px;
	padding: 0px;
	display: flex;
	/*align-items: center;*/
	/*justify-content: space-between;*/
	border: 0px solid;
	justify-content: space-between;
}






.Left_Header {
	width: 350px;
	border: 0px solid;
	padding-top: 30px;
	padding-left: 30px;
}

.Center_Header {
	width: 600px;
	display: flex;
	flex-direction: row;
	align-items: center;
	/* Выравнивание по вертикали */
	justify-content: center;
	/* Выравнивание по горизонтали */
	border: 0px solid;
	padding-top: 60px;
	padding-left: 350px;
}

/* Обновите стили формы */
.Center_Header form {
	display: flex;
	align-items: center;
	gap: 5px;
	/* Расстояние между полем и кнопкой */
	height: 44px;
	padding-top: 0;
	/* Убираем лишний отступ */
}


.search_button_2 {
	width: 30px;
	height: 30px;
	/* Такая же высота как у поля ввода */
	background-position: center;
	background-size: 20px;
	background-repeat: no-repeat;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7e/Vector_search_icon.svg");
	border: none;
	cursor: pointer;
	background-color: rgb(217, 217, 217);
}

.Right_Header {
	padding: 40px;
	border: 0px solid;
	padding-top: 60px;
}

li {
	list-style: none;
	display: inline-block;
}

li a {
	color: rgb(37, 37, 37);
	margin-right: 45px;
}

.Main_Button {
	font-family: "Prata", serif;
	font-weight: 400;
	font-style: normal;

	height: 70px;
	width: 250px;
	background: rgb(236, 238, 238);
	font-size: 32px;
	border-color: rgb(37, 37, 37);
	border: 1px solid;
}