.my_el 
{
height: 300px;
width: 500px;
background-color: aqua;

}

.white 
{
height: 100px;
width: 20px;
background-color: rgb(252, 253, 253);
border: solid;
border-color: black;
z-index: 0;


}


.white:hover{
background-color: rgb(134, 2, 2);
}
.black 
{
  margin-left: -10px;
  margin-right: -10px;
height: 50px;
width: 10px;
background-color: rgb(0, 0, 0);
border: solid;
border-color: black;
z-index: 1;
}


.main 
{
  display: flex;
flex-direction: row;
}


